@model SuperHeroes.Models.SuperHero
    <link href="~/Content/bootstrap.new.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SuperHero</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alterEgo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alterEgo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primaryAbilies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primaryAbilies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secondaryAbilities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secondaryAbilities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.catchphrase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catchphrase)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
